.delete-review-button {
  max-height: 40px;
  background-color: rgb(192, 46, 46);
  border: 0px;
  border-radius: 5px;
}
.delete-review-button:hover {
  max-height: 40px;
  background-color: rgb(245, 78, 78);
}

.bin-icon {
  max-height: 30px;
}
