.homepage {
  padding: 2rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.start {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background: url("/beers.png") no-repeat center center/cover;
}
.text-beer1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  color: var(--primary-color);
  margin-top: 1rem;
}
.text-beer2 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: var(--primary-color);
  margin-top: 3rem;
}

.about-section {
  padding: 4rem;
  text-align: center;
}

.about-title {
  color: var(--primary-color);
}
