.homepage {
  align-items: center;
  text-align: center;
}
.start {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20rem;
  text-align: center;
  background: url("/beers2.png") no-repeat center center/cover;
}
.text-beer1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  color: white;
  margin-top: 1rem;
  border-style: double;
}
.text-beer2 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: var(--primary-color);
  margin-top: 3rem;
}

.about-section {
  padding: 4rem;
  text-align: center;
  width: 80%;
  height: 25rem;
  align-items: center;
  background-color: var(--background-color);
  border-radius: 30px;
  margin-bottom: 7rem;
  margin-left: 10%;
  margin-top: 10rem;
}

.about-title {
  color: var(--primary-color);
  margin-top: 0.5rem;
  margin-bottom: 3rem;
}
.about-text {
  color: var(--logo-color);
  font-size: medium;
  font-weight: 500;
}
