.logoutbtn{
    border-radius: 10%;
    border-width: 0;
    width: 10%;
    height: 10px;
    background-color: var(--logo-color);
    color: white;
    font-size: small;
    font-weight: 600;
    
}

.logoutbtn:hover{
    background-color: var(--primary-color);
}

.logoutbtn:active{
    background-color: var(--logo-color);
}