.product-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
}

.product-info {
  display: flex;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 50%;
}

.image-container {
}

.product-image,
.product-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-image img {
  display: block;
  margin: auto;
  width: 50%;
  height: inherit;
  object-fit: cover;
  padding: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.review-list {
  width: 100%;
}
