.Footer-row {
  background: var(--background-color);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/*Should maybe be in the root file?*/
.Footer {
  position: relative;
  width: 100%;
  left: 0;
  bottom: 0;
}

.footer-logo {
  padding-left: 10%;
  font-family: var(--brand-font);
  color: var(--logo-color);
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 2.5rem;
  margin-left: 50px;
}

.footer-logo-subtext {
  padding-left: 10%;
  font-family: var(--brand-font);
  color: var(--text-color);
  letter-spacing: 1px;
  margin-left: 50px;
}
