.content {
  flex: 1;
  align-self: center;
}

.layout {
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  min-width: 100%;
}

.layout-header {
}

.layout-footer {
  margin-top: auto;
}
